<mat-toolbar color="primary" style="margin: 25px 0px 0px 0px; height:30px;">
  <mat-toolbar-row>
    <span>Payment transactions</span>
    <span class="example-spacer"></span>
    <mat-checkbox class="example-margin" [(ngModel)]="showAllTransaction" style="margin: 0px 15px; font-size: 15px; color: #fff;" (change)="loadUnapprovedWalletTransactions()">Show all wallet transactions</mat-checkbox>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <mat-toolbar color="secondery" class="mat-elevation-z8" style="    margin: 0px 0px 0px 0px; height: 35px; padding: 25px 10px; background-color: #a9b3f3a6;">
    <span class="secondery" style="font-weight: 100; font-size: 20px;">{{message}}</span>
    <span class="example-spacer"></span>
    <mat-radio-group aria-label="Select an option" (change)="recordQueryChanged($event);" [value]="recordStatus" style="margin: 0px 15px; font-size: 15px;">
      <mat-radio-button value="0" checked>Pending</mat-radio-button>&nbsp;
      <mat-radio-button value="1">Approved</mat-radio-button>&nbsp;
      <mat-radio-button value="2">Rejected</mat-radio-button>&nbsp;&nbsp;
    </mat-radio-group>    
    <a class="btn btn-sm btn-success text-white" (click)="loadUnapprovedWalletTransactions()" role="button">
        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
    </a>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="walletTransactions" matSort>
      <!-- Customer Name Column-->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 12%;" mat-sort-header> Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 12%;"> {{element.username}} </mat-cell>
      </ng-container>

      <!-- User Type Column-->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 10%;" mat-sort-header> User Type</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 10%;"> {{element.type}} </mat-cell>
      </ng-container>

      <!-- Payment Mode Column-->
      <ng-container matColumnDef="trans_type_name">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 10%;" mat-sort-header> Payment Mode</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 10%;"> {{element.trans_type_name}} </mat-cell>
      </ng-container>

      <!-- Transaction ID Column-->
      <ng-container matColumnDef="trans_ref_id">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 10%;" mat-sort-header> Transaction.ID</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 10%; display: block; text-align: right;">
           <div>{{element.trans_ref_id}}</div>
           <div>Bank: {{element.bank}}</div>
           <div>({{element.bank}} branch)</div>
        </mat-cell>
      </ng-container>

      <!-- Transaction Date Column-->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 12%;" mat-sort-header> Transaction Date</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 12%;"> {{element.date}} </mat-cell>
      </ng-container>

      <!-- Amount Column-->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 8%;" mat-sort-header> Amount</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 8%;"> {{element.amount}} </mat-cell>
      </ng-container>

      <!-- Narration Column-->
      <ng-container matColumnDef="narration">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 20%;" mat-sort-header> Narration</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 20%;"> {{element.narration}} </mat-cell>
      </ng-container>

      <!-- Action Column-->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="mat-header-cell-style" style="flex: 15%;">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 15%;"> 
          <!-- <button mat-icon-button color="warm"><mat-icon>launch</mat-icon></button> -->
          <!-- <mat-icon style="cursor: pointer; cursor: hand;" class="fa fa-thumbs-o-up"></mat-icon>&nbsp;&nbsp;
          <mat-icon style="cursor: pointer; cursor: hand;" class="fa fa-thumbs-o-down"></mat-icon> -->
          <div *ngIf="element.status==0">
            <i class="fa fa-thumbs-up" aria-hidden="true" style="cursor: pointer; cursor: hand; font-size: x-large; color: #26b926;" title="Approve the transaction" (click)="takeAction('approve', element)"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-thumbs-down" aria-hidden="true" style="cursor: pointer; cursor: hand; font-size: x-large; color: #f72525;" title="Reject the transaction" (click)="takeAction('reject', element)"></i>&nbsp;&nbsp;&nbsp;
          </div>
          <div *ngIf="element.status!=0">
            <i class="fa fa-thumbs-up" aria-hidden="true" style="cursor: pointer; cursor: hand; font-size: x-large; color: #26b926;" title="Approved transaction" *ngIf="element.status==1"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa fa-thumbs-down" aria-hidden="true" style="cursor: pointer; cursor: hand; font-size: x-large; color: #f72525;" title="Rejected transaction" *ngIf="element.status==2"></i>&nbsp;&nbsp;&nbsp;
            </div>
        </mat-cell>
      </ng-container>

      <!-- Footer column -->
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="8" style="justify-content: center;">
          <span style="font-weight: 600; font-size: medium; font-style: italic; color: #ea6808;">*** Loading ***</span>
        </mat-footer-cell>
      </ng-container>

      <!-- Footer column -->
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="8" style="justify-content: center;">
          <span style="font-weight: 600; font-size: medium; font-style: italic; color: #ea6808;">*** No Data ***</span>
        </mat-footer-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" mat-ripple (click)="edit(row, $event)"></mat-row>

      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': walletTransactions!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(walletTransactions!=null && walletTransactions.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>
