<div *ngIf="mode==='noshow'">
  <mat-toolbar color="default" class="mat-elevation-z1" style="margin: 25px 5px 1px 5px;">
    <mat-toolbar-row style="background-color: #d1d1d1;">
      <span class="badge badge-info">{{message}}</span>
      <span class="example-spacer"></span>
      <a class="btn btn-sm btn-success text-white" (click)="RefreshData(this.currentUser.companyid)" role="button">
          <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <label>From Date</label>
      <mat-form-field class="datepicker-control">
        <input matInput [matDatepicker]="picker1" [(ngModel)]="fromdate" (dateChange)="dateFilterChanged(this)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <label>To Date</label>
      <mat-form-field class="datepicker-control">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" (dateChange)="dateFilterChanged(this)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>      
    </mat-toolbar-row>  
  </mat-toolbar>
  <ag-grid-angular 
    style="width: 100%; height: 550px; margin: 0px 5px 20px 5px;"
    class="ag-theme-balham"
    [rowData]="bookings" 
    [rowSelection]="rowSelection"
    [columnDefs]="columnDefs"
    [components]="components"
    [suppressCellSelection]="true"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    (rowSelected)="onRowSelected('edit',$event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<div class="main-content" *ngIf="mode==='edit' || mode==='show'">
  <div class="main-content-inner">
    <div class="page-content">
      <div class="page-header page-title page-title-section" id="header">
        <!--.page-header -->
        <h1 style="font-weight: 100; font-size: 1.5vw; color: #0000ff; width: 80%; display: inline-block">
          {{booking.source_city}} TO {{booking.destination_city}} ( {{booking.trip_type}} WAY ) - {{finalstatus}}
        </h1>
        <button (click)="onBack($event)" class="btn btn-primary" style="float:right"><i class="fa fa-sign-out" aria-hidden="true"></i> Back to Bookings</button>
      </div><!-- /.page-header -->
      <form [formGroup]="handlebookingform" autocomplete="off" (ngSubmit)="onHandleChangeBooking()" novalidate>
        <input type="hidden" name="booking_id" value="3"/>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <!--Widget col-md-8 start-->
            <div>
              <h3 style="color:#2679b5;font-size:18px">PASSENGER DETAILS</h3>
              <hr style="margin:0" />
              <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-bottom:20px">
                <thead class="column-head">
                  <tr>
                    <th>Action</th>
                    <th>Si No.</th>
                    <th>Passenger Name</th>
                    <th>Age</th>
                    <th>Mobile No.</th>
                    <th>Email</th>
                    <th>PNR</th>
                    <th>Airline Ticket#</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="grid1" formArrayName="customers" *ngFor="let customer of handlebookingform.get('customers').controls; let i = index;">
                  <tr [formGroup]="customer" class="{{customer.controls.status.value == 2 ? 'processed-customer' : (customer.controls.status.value == 3 ? 'rejected-customer' : '')}}" *ngIf="((booking.id == customer.controls.cus_booking_id.value) || (booking.parent_booking_id == customer.controls.cus_booking_id.value))">
                    <td style="width: 40px;"><i class="fa fa-trash" style="text-align: center; color: #ff0000; font-size:20px;height:auto;width:auto;border-radius:0;background:none;padding-top:0;margin:0px 10px; cursor: pointer; cursor: hand" (click)="deleteCustomer(customer.controls.booking_id.value, customer.controls.id.value)" *ngIf="((customer.controls.status.value==1 && customer.controls.refrence_id.value==0) || customer.controls.status.value==8 || customer.controls.status.value==3) && (booking.id == customer.controls.booking_id.value)"></i></td>
                    <td>{{i+1}}</td>
                    <td>{{customer.controls.name.value}}
                      <a class="fyi-notes" style="display: block;" *ngIf="customer.controls.status.value!=1">Ref.Booking Id: {{customer.controls.refrence_id.value}}</a>
                      <span *ngIf="customer.controls.status.value==8" style="font-size: 13px; font-weight: 600;">  (This ticket is on HOLD)</span>
                    </td>
                    <td>{{customer.controls.age.value}}</td>
                    <td>{{booking.parent_booking_id == 0 ? customer.controls.mobile.value : 'XXXXXXXXXX'}}</td>
                    <td>{{booking.parent_booking_id == 0 ? customer.controls.email.value : 'XXXXXXXXXX@XXXXX.com'}}</td>
                    <td>
                      <!-- (change)="handleChange(ticket.controls.tktid.value, ticket.controls.select, $event)" -->
                      <input formControlName="pnr" placeholder="Please provide PNR" style="width: 100%;" *ngIf="(customer.controls.status.value==1 || customer.controls.status.value==8) && showpnr" (input)="handlePNRChange(customer, $event)"/>
                      <span *ngIf="!(customer.controls.status.value==1 || customer.controls.status.value==8)">{{customer.controls.pnr.value}}</span>
                      <input id="cust-{{customer.controls.id.value}}" name="customer-{{customer.controls.id.value}}" type="hidden" formControlName="id"/>
                    </td>
                    <td>
                      <input formControlName="airline_ticket_no" placeholder="Please provide Airline Ticket Number" style="width: 100%;" *ngIf="(customer.controls.status.value==1 || customer.controls.status.value==8) && showpnr"/>
                      <span *ngIf="!(customer.controls.status.value==1 || customer.controls.status.value==8)">{{customer.controls.airline_ticket_no.value}}</span>
                    </td>
                    <td>
                      <div class="" *ngIf="((customer.controls.status.value==1) || customer.controls.status.value==8 || customer.controls.status.value==3)">
                        <select id="action" class="form-control select-control" formControlName="action" (change)="passenger_status_change(customer, $event)">
                          <option value="0"> -- Select --</option>
                          <option value="1">Pending</option>
                          <option value="2">Approved</option>
                          <option value="3">Rejected</option>
                        </select>
                      </div>
                      <div *ngIf="!(customer.controls.status.value==1 || customer.controls.status.value==8 || customer.controls.status.value==3)" class="fyi-notes" style="font-size: 18px;">{{getStatus(customer.controls.status.value)}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h3 style="color:#2679b5;font-size:18px">CUSTOMER REQUESTED FLIGHT DETAILS</h3>
              <hr style="margin:0" />
              <table id="dynamic-table" class="table table-striped table-bordered table-hover"
                style="margin-bottom:20px">
                <thead class="column-head">
                  <tr>
                    <th>Dep</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Duration</th>
                    <th>Airline</th>
                    <th>Class</th>
                    <th>Flight No.</th>
                    <th>Ticket#</th>
                    <th>Seats.Available</th>
                  </tr>
                </thead>
                <tbody id="grid1">
                  <tr>
                    <td>{{booking.ticket.departure_date_time | date:'dd-MMM-yyyy hh:mm:ss aa'}}</td>
                    <td>{{booking.source_city}}</td>
                    <td>{{booking.destination_city}}</td>
                    <td>{{booking.ticket.departure_date_time | datediff:booking.ticket.arrival_date_time}}</td>
                    <td>{{booking.ticket.aircode}}</td>
                    <td>{{booking.ticket.class}}</td>
                    <td>{{booking.ticket.flight_no}}</td>
                    <td>TKT-{{booking.ticket.id}}</td>
                    <td>{{booking.ticket.no_of_person}}</td>
                  </tr>
                </tbody>
              </table>
              <h3 style="color:#2679b5;font-size:18px">BOOKING DETAILS</h3>
              <hr style="margin:0" />
              <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-bottom:20px">
                <tr>
                  <th class="column-head"><div class="column-left">Booking Request No.</div><div class="column-right">{{booking.id}}</div></th>
                  <th class="column-head">Price Summary</th>
                </tr>
                <tr>
                  <th class="column-head"><div class="column-left">Booking Date.</div><div class="column-right">{{booking.date | date:'dd-MMM-yyyy hh:mm:ss aa'}}</div></th>
                  <td rowspan="2" style="padding: 0px;">
                    <div class="column-left column-head column-title">Ticket Rate</div><div class="column-right">{{getTicketRate(booking)}}</div>
                    <div class="column-left column-head column-title">Qty</div><div class="column-right">{{booking.qty}} + {{booking.infant}}</div>
                    <div class="column-left column-head column-title">Sub Total</div><div class="column-right">{{getSubTotal(booking)}}</div>
                    <div class="column-left column-head column-title">Service Charge</div><div class="column-right">{{booking.service_charge}}</div>
                    <div class="column-left column-head column-title">GST</div><div class="column-right">{{booking.igst}}</div>
                    <div class="column-left column-head column-title">Grand Total</div><div class="column-right">{{booking.total}}</div>
                    <div class="column-left column-head column-title column-attension" *ngIf="bookingPmtDetails!=null">Payment received</div><div class="column-right" *ngIf="bookingPmtDetails!=null">{{(bookingPmtDetails.credit | number) ? (bookingPmtDetails.credit + ' (' + bookingPmtDetails.payment_id +') ') : 'No (Credit Booking)'}}</div>
                    <div class="column-left column-head column-title column-attension" *ngIf="bookingPmtDetails!=null">Customer Wallet Balance</div><div class="column-right" *ngIf="bookingPmtDetails!=null">{{bookingPmtDetails ? (bookingPmtDetails.balance | number: '1.0-1') : ''}}</div>
                  </td>
                </tr>
                <tr>
                  <th class="column-head">
                    <div class="column-left">Customer Name</div>
                    <div class="column-right">{{booking.name}}</div>
                    <div class="column-right">({{booking.customer_companyname}})</div>
                  </th>
                </tr>
                <tr>
                  <th class="column-head"><div class="column-left">Seller Name</div><div class="column-right">{{booking.seller}}</div><div class="column-right">({{booking.seller_companyname}})</div></th>
                  <th class="column-head"><div class="column-left">Status</div><div class="column-right blink_me">{{finalstatus}}</div></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="booking.parent_booking_id == 0">
          <div class="col-xs-12 col-sm-12">
            <!--Widget col-md-8 start-->
            <h3 style="color:#2679b5;font-size:18px">ASSIGNED SELLERS</h3>
            <hr style="margin:0" />
            <input type="hidden" name="booking_request_id" value="3">
            <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-bottom:20px">
              <thead class="column-head">
                <tr>
                  <th title="Booking Id & Ticket ID">BK/T.No</th>
                  <th>Journey</th>
                  <th>Status</th>
                  <th>Airline</th>
                  <th>Class</th>
                  <th>Rate</th>
                  <th>Ord.Seats</th>
                  <th>Agent</th>
                  <th>Ord.Date</th>
                </tr>
              </thead>
              <tbody id="grid1">
                <tr  style="background:#fff" *ngIf="assignedSuppliers===null || assignedSuppliers===undefined || assignedSuppliers.length === 0">
                  <td colspan="9"><span>No supplier(s) assigned yet</span></td>
                </tr>
                <ng-container *ngFor="let supplierBooking of assignedSuppliers; let i = index;">
                  <tr id="bk_{{supplierBooking.id}}" style="background:#fff" class="{{supplierBooking.status === 'APPROVED' ? 'processed-customer' : (supplierBooking.status === 'REJECTED' ? 'rejected-customer' : '')}}">
                    <td rowspan="2" title="Booking Id & Ticket ID"><div>BK-{{supplierBooking.id}}</div><div>TKT-{{supplierBooking.ticket_id}}</div></td>
                    <td rowspan="2">
                      <i class="fa fa-plane" style="font-size:14px;height:auto;width:auto;border-radius:0;background:none;padding-top:0;margin-right:10px"></i>
                      <span class="date">{{supplierBooking.source_city}} ({{supplierBooking.departure_date_time}})</span><br />
                      <i class="fa fa-plane" style="transform:rotate(83deg);font-size:14px;height:auto;width:auto;border-radius:0;background:none;padding-top:0;margin-right:10px"></i>
                      <span class="date">{{supplierBooking.destination_city}} ({{supplierBooking.arrival_date_time}})</span>
                    </td>
                    <td rowspan="2"><div>{{supplierBooking.status}}</div><div>(Booking Id: {{supplierBooking.id}})</div></td>
                    <td>{{supplierBooking.flight_no}}</td>
                    <td>{{supplierBooking.class}}</td>
                    <td>{{supplierBooking.total/supplierBooking.qty}}</td>
                    <td>{{supplierBooking.qty}}</td>
                    <td>{{supplierBooking.seller_companyname}}</td>
                    <td>{{supplierBooking.date}}</td>
                  </tr>
                  <tr>
                    <td colspan="6">
                      <span class="fyi-notes">{{supplierBooking.notes}}</span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row" *ngIf="booking.parent_booking_id == 0">
          <div class="col-xs-12 col-sm-12">
            <!--Widget col-md-8 start-->
            <h3 style="color:#2679b5;font-size:18px">ASSIGN BOOKING TO SELLERS</h3>
            <hr style="margin:0" />
            <input type="hidden" name="booking_request_id" value="3">
            <div id="clone_form" name="clone_form" *ngIf="this.showclone" style="border: #aaaaaa 1pt solid; padding: 0px 10px;background-color: #ffffff;">
              <!--<h2>Clone ticket functionality</h2> -->
              <form [formGroup]="handlecloneticket" autocomplete="off" (ngSubmit)="onHandleTicketClone()" novalidate>
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <h4 class="title">Cloning Ticket</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-1 col-sm-1 form-control-label">
                    <span class="">Flight #</span> <span style="color: #ff0000;">*</span>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                    <input type="text" formControlName="flight_no" placeholder="Flight #" style="" required class="form-control form-control-field"/>
                  </div>
                  <div class="col-xs-1 col-sm-1 form-control-label">
                    <span class="">No Of PAX</span> <span style="color: #ff0000;">*</span>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                    <input type="number" formControlName="no_of_pax" placeholder="Flight #" style="" required class="form-control form-control-field"/>
                  </div>
                  <div class="col-xs-1 col-sm-1 form-control-label">
                    <span class="">Price</span> <span style="color: #ff0000;">*</span>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                    <input type="number" formControlName="price" placeholder="Price" style="" required class="form-control form-control-field"/>
                  </div>
                </div>
                <div class="row" style="padding: 10px 5px 0px;">
                  <div class="col-xs-1 col-sm-1 form-control-label">
                    <span class="">Departure Date</span> <span style="color: #ff0000;">*</span>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                    <mat-form-field style="width: 50%; display: inline-block !important;" [floatLabel]="'never'">
                      <input matInput [matDatepicker]="dept_date" formControlName="dept_date">
                      <mat-datepicker-toggle matSuffix [for]="dept_date"></mat-datepicker-toggle>
                      <mat-datepicker #dept_date></mat-datepicker>
                    </mat-form-field>                    
                    <!-- <input type="text" formControlName="dept_date" placeholder="dd/mm/yyyy" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" class="form-control datepicker" style="width: 30%;" required/>-->
                    <input type="text" formControlName="dept_time" placeholder="HH:mm" pattern="[0-9]{2}:[0-9]{2}" style="width: 20%;" required class="form-control form-control-field"/>
                  </div>
                  <div class="col-xs-1 col-sm-1 form-control-label">
                    <span class="">Arrival Date</span> <span style="color: #ff0000;">*</span>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                    <!-- <label class="datepicker-control">Arrival Date <span style="color: #ff0000;">*</span></label> -->
                    <mat-form-field style="width: 50%; display: inline-block !important;" [floatLabel]="'never'">
                      <input matInput [matDatepicker]="arrv_date" formControlName="arrv_date">
                      <mat-datepicker-toggle matSuffix [for]="arrv_date"></mat-datepicker-toggle>
                      <mat-datepicker #arrv_date></mat-datepicker>
                    </mat-form-field>
                    <!-- <input type="text" formControlName="arrv_date" placeholder="dd/mm/yyyy" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" class="form-control datepicker" style="width: 30%;" required/> -->
                    <input type="text" formControlName="arrv_time" placeholder="HH:mm" pattern="[0-9]{2}:[0-9]{2}" style="width: 20%;" required class="form-control form-control-field"/>
                  </div>
                  <div class="col-xs-1 col-sm-1 form-control-label">
                    <span class="">TAG</span> <span style="color: #ff0000;">*</span>
                  </div>
                  <div class="col-xs-3 col-sm-3">
                    <input type="text" formControlName="tag" placeholder="TAG" style="" class="form-control form-control-field"/>
                  </div>
                </div>
                <div class="row" style="">
                  <div class="col-md-12" style="float:right;">
                    <div style="float:right">
                      <button type="submit" class="btn btn-sm btn-primary active" style="margin: 0px 10px">Submit</button>
                      <button type="button" class="btn btn-sm btn-secondary" (click)="closeCloneForm($event)" style="margin: 0px 10px">Close</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="margin-bottom:20px">
              <thead class="column-head">
                <tr>
                  <th></th>
                  <th>T.No</th>
                  <th>Journey</th>
                  <th>Type</th>
                  <th>Travel Date</th>
                  <th>Airline</th>
                  <th>Class</th>
                  <th>Rate</th>
                  <th>Avl.Seats</th>
                  <th>Agent</th>
                  <th>Book.Seats</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="grid3" *ngIf="fullyProcessed === true">
                <tr>
                  <td colspan="12">Order fully processed. No more quantity left.</td>
                </tr>
              </tbody>
              <tbody id="grid2" formArrayName="tickets" *ngFor="let ticket of handlebookingform.get('tickets').controls; let i = index;">
                <tr [formGroup]="ticket" class="{{(booking.departure_date_time == ticket.controls.departure_date_time.value) ? 'exact_matched': 'not_matched'}}">
                  <td><input type="radio" id="selection-{{ticket.controls.tktid.value}}" name="select" class="rowselector" (change)="handleChange(ticket.controls.tktid.value, ticket.controls.select, $event)" [attr.checked]="(ticket.controls.tktid.value === booking.ticket.id)?'checked':null"></td>
                  <td>{{ticket.controls.tktid.value}}</td>
                  <td>
                    <div>{{ticket.controls.source.value}}</div>
                    <div>{{ticket.controls.destination.value}}</div>
                  </td>
                  <td>{{ticket.controls.type.value}}</td>
                  <td>
                    <i class="fa fa-plane" style="font-size:14px;height:auto;width:auto;border-radius:0;background:none;padding-top:0;margin-right:10px"></i>
                    <span class="date">{{ticket.controls.departure_date_time.value}}</span><br />
                    <i class="fa fa-plane" style="transform:rotate(83deg);font-size:14px;height:auto;width:auto;border-radius:0;background:none;padding-top:0;margin-right:10px"></i>
                    <span class="date">{{ticket.controls.arrival_date_time.value}}</span>
                  </td>
                  <td>{{ticket.controls.flight_no.value}}</td>
                  <td>{{ticket.controls.class.value}}</td>
                  <td><b>Supplier Rate : </b>{{ticket.controls.costprice.value}}<br> <b>Portal Rate : </b>{{currentUser.type==='B2B'? (ticket.controls.price.value) : ticket.controls.price.value }}</td>
                  <td>{{ticket.controls.no_of_person.value}}</td>
                  <td>{{ticket.controls.supplier.value}}</td>
                  <td>
                    <input type="hidden" name="seller_id" value="1">
                    <input type="hidden" name="ticket_no" value="{{ticket.controls.tktid.value}}">
                    <input type="number" formControlName="order_qty" placeholder="Please provide quantity to order to respective seller" style="width: 100%; height: calc(1.5em + .75rem + 2px)" value="{{pending_qty}}" *ngIf="(ticket.controls.select.value)" readonly/>
                    <div style="font-size: small;" *ngIf="(ticket.controls.price.value!==booking.ticket_rate) && ticket.controls.select.value">
                      <!-- <span>{{ticket.controls.price.value}} | {{booking.total}}</span> -->
                      <div style="padding: 5px 0px;line-height: 10px;"><input type="radio" name="extravalue_choice" id="extravalue-{{ticket.controls.tktid.value}}_1" class="rowselector" (change)="handlePriceDiffChange(ticket.controls.tktid.value, 'absorbe', $event)">Absorbe rate differance</div>
                      <div style="padding: 5px 0px;line-height: 10px;"><input type="radio" name="extravalue_choice" id="extravalue-{{ticket.controls.tktid.value}}_2" class="rowselector" (change)="handlePriceDiffChange(ticket.controls.tktid.value, 'pass', $event)" checked>Pass rate differance to customer</div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group" style="display: inline-block" *ngIf="ticket.controls.select.value">
                      <select id="status" class="form-control" formControlName="status">
                        <option value="-1"> -- Select --</option>
                        <option value="0">Pending</option>
                        <option value="1">Hold</option>
                        <option value="2">Approved</option>
                        <!-- 
                        <option value="4">Processing</option>
                        <option value="8">Rejected</option>
                        <option value="16">Cancelled</option> 
                        -->
                      </select>
                    </div>
                    <i class="fa fa-clone" aria-hidden="true" *ngIf="!ticket.controls.ownticket.value && !showclone" style="margin: 5px; border: 1px solid #aaaaaa; padding: 10px; cursor: pointer;" 
                        title="Clone this ticket under my account" (click)="showCloneForm(ticket, $event);"></i>
                    <i class="fa fa-exclamation-triangle" title="Customer's expected departure date & time is not matching with selected ticket's departure date & time" 
                      style="font-size:16px; height:auto;width:auto;margin-left:10px;display: inline-block; cursor: pointer; cursor: hand; color: #ff0000;" 
                      *ngIf="booking.departure_date_time !== ticket.controls.departure_date_time.value && (ticket.controls.status.value==2 || ticket.controls.status.value==1)"></i>
                  </td>
                </tr>
              </tbody>
              <!-- <tbody id="grid3">
                <tr style="background:#fff">
                  <td colspan="5">
                    <button type="button" id="btnReject" name="btnReject" class="btn btn-primary" style="display:none">Reject</button>
                  </td>
                  <td colspan="6">
                    <button type="button" id="btnBook" name="btnBook" class="btn btn-primary" (click)="onSendToSeller($event);" style="float:right" *ngIf="fullyProcessed === false && booking.parent_booking_id == 0">Send to seller</button>
                  </td>
                </tr>
              </tbody> -->
            </table>
          </div>
          <!--sellers grid1-->
        </div> <!-- end of list of sellers row -->
        <div style="width: 100%;">
          <div class="form-group">
            <h3 style="color:#2679b5;font-size:18px">Notes</h3>
            <hr style="margin:0" />
            <textarea name="notes" id="notes" formControlName="notes" class="form-control" required rows="2" cols="10" placeholder="Please provide any notes/instructions to seller/supplier"></textarea>
          </div>
        </div>

        <!-- Action area where all buttons should be placed-->
        <div style="width: 100%;">
            <div id="supplier_actions" *ngIf="booking.parent_booking_id > 0 && ((booking.status==0 || booking.status=='PENDING') || (booking.status==1 || booking.status=='HOLD'))">
              <button type="button" id="btnApprove" name="btnApprove" class="btn btn-primary" (click)="onSellerAction('approve', $event);" style="float:right; margin: 3px 10px;" *ngIf="booking.parent_booking_id > 0 && !isAllPAXRejected"> Approve</button>
              <button type="button" id="btnReject" name="btnReject" class="btn btn-secondary" (click)="onSellerAction('reject', $event);" style="float:right; margin: 3px 10px;" *ngIf="booking.parent_booking_id > 0 && isAllPAXRejected"> Reject</button>
            </div>
            <div id="supplier_actions_1" *ngIf="booking.parent_booking_id > 0 && ((booking.status==64 || booking.status=='REQUEST FOR HOLD'))">
              <button type="button" id="btnHold" name="btnHold" class="btn btn-primary" (click)="onSellerAction('hold', $event);" style="float:right; margin: 3px 10px;" *ngIf="booking.parent_booking_id > 0 && !isAllPAXRejected"> Hold</button>
              <button type="button" id="btnReject1" name="btnReject1" class="btn btn-secondary" (click)="onSellerAction('reject', $event);" style="float:right; margin: 3px 10px;" *ngIf="booking.parent_booking_id > 0 && isAllPAXRejected"> Reject</button>
            </div>
            <div id="seller_actions" *ngIf="(fullyProcessed === true && allApproved === true) && (booking.status==4 || booking.status=='PROCESSING')">
              <button type="button" id="btnCustomerApprove" name="btnCustomerApprove" class="btn btn-primary" (click)="onSellerAction('approve', $event);" style="float:right; margin: 3px 10px;" *ngIf="fullyProcessed === true && allApproved === true"> Approve</button>
              <button type="button" id="btnCustomerReject" name="btnCustomerReject" class="btn btn-secondary" (click)="onSellerAction('reject', $event);" style="float:right; margin: 3px 10px;" *ngIf="fullyProcessed === true && allApproved === true"> Reject</button>
            </div>
            <div id="seller_actions_1" *ngIf="fullyProcessed === false && booking.parent_booking_id == 0">
              <button type="button" id="btnBook" name="btnBook" class="btn btn-primary" (click)="onSendToSeller($event);" style="float:right" *ngIf="!isAllPAXRejected">Send to seller</button>
              <button type="button" id="btnReject2" name="btnReject2" class="btn btn-secondary" (click)="onSellerAction('reject', $event);" style="float:right; margin: 3px 10px;" *ngIf="isAllPAXRejected"> Reject</button>
            </div>
        </div>
        <!--row-->
        <input type="hidden" name="existing_seller_id" id="existing_seller_id" value="104"/>
      </form>
    </div> <!-- /.page-content -->
  </div> <!-- /.main-content-inner -->
</div> <!-- /.main-content -->