.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-wrapper {
    margin: 25px 5px 1px 5px; height:35px;
}

.grid-default {
    width: 100%; height: 400px; margin: 0px 5px 20px 5px;
}

.mat-elevation-z1 a {
    margin: 0px 5px;
}

.page-content .page-title {
    margin: 4vh 0px;
}
.column-head {
    background-image: linear-gradient(to bottom, #9ccaf1 0, #80bcef 100%);
    width: 50%;
}
.column-attension {
    background-image: linear-gradient(to bottom, #faa61a 0, #e4ddd1 100%);
}

.column-title {
    font-weight: 700;
}

.column-left {
    display:inline-block; 
    width: 50%;
    padding: 5px;
}
.column-right {
    float:right; 
    width: 30%;
    text-align: right;
    font-weight: 500;
    padding: 5px;
}
.page-title-section {
    box-shadow: 4px 4px 3px 4px #888888 !important;
    padding: 10px;    
}

.blink_me {
    color: #1c6d11;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    animation: blinker 2s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.processed-customer {
    background-color: #8ef580 !important;
}

.rejected-customer {
    background-color: #f79f9f !important;
}

.fyi-notes {
    font-size: 14px; 
    font-weight: 600; 
    color:#05078a
}

.exact_matched {
    background-color: #bfecb9 !important;
}
.not_matched {
    background-color: #f3f053 !important;
}

.table td, .table th {
    padding: .20rem;
}

#grid1 > tr > td {
    vertical-align: middle;
}
.rowselector {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    width: 35px;
}
.datepicker-control {
    margin: 5px 10px;
}

.select-control {
    -webkit-appearance: button;
    border: 2px solid;
    text-align-last: center;
    cursor: pointer;
}