.jumbotron {
    padding: 0px 0px;
}

.form-check-input-control {
    position: absolute;
    margin-top: -.3rem;
    margin-left: 1.25rem;
    display: inline-block;
    height: calc(1.5em + .75rem + 2px);
    width: 10%;
}

.bottom-action-bar {
    float:right; 
    border: 1px solid #cdcdcd; 
    padding: 15ps 0px;
}