.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-wrapper {
    margin: 25px 5px 1px 5px; height:35px;
}

.grid-default {
    width: 100%; height: 400px; margin: 0px 5px 20px 5px;
}

.mat-elevation-z1 a {
    margin: 0px 5px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    /*padding: 12px;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    /*padding: 12px 12px 12px 0;*/
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=radio] {
    margin: 0px 10px 0px 0px;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-15 {
    float: left;
    width: 15%;
    padding-top: 6px;
  }

  .col-35 {
    float: left;
    width: 35%;
    padding-top: 6px;
  }

  .col-20 {
    float: left;
    width: 20%;
    padding-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-80 {
    float: left;
    width: 80%;
    padding-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .form-group {
    margin: 0px;
  }

  .radio-inline {
    margin: 0px 15px 0px 0px;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-20, .col-80, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .rateplan-detail {
    width: 100%;
    height: 0;
    opacity: 0;
    background: #ccc;
  }

  .transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
  }

  .transform-active {
    width: 100%;
    height: 100%;
    opacity: 100;
  }

  .field-head {
    /*background-color: #322fca;
    color: #ffffff;*/
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0px 0px 10px;
  }