<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper1">
  <div class="container-fluid no-padding">
    <!-- replace everything in this file with this -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
      <a class="navbar-brand" routerLink="#"><h3 class="company-title"><i class="fa fa-university"></i>&nbsp;{{currentCompany.display_name}}</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav right-floated">
          <a class="nav-item nav-link active" href="/"><i class="fa fa-home"></i>&nbsp;Home<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav right-floated">
          <a class="nav-item nav-link active" href="/search"><i class="fa fa-search"></i>&nbsp;Search Flights<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav right-floated">
          <a class="nav-item nav-link active" href="/admin?uuid={{currentUser.uid}}"><i class="fa fa-cogs"></i>&nbsp;Administration<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav right-floated">
          <a class="nav-item nav-link active" href="/user"><i class="fa fa-user-o"></i>&nbsp;Hi! {{currentUser.name}}<span class="sr-only">(current)</span></a>
        </div>
        <div class="navbar-nav right-floated">
            <a class="nav-item nav-link active" href="/user/logout"><i class="fa fa-sign-out"></i>&nbsp;Logout<span class="sr-only">(current)</span></a>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      <div id="sidebar1">
        <app-navbar></app-navbar>
      </div>
      <!-- Page Content  -->
      <div id="content">
        <app-headerbar></app-headerbar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>