//@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    /*background: #fafafa;*/
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    /*background-color: #faa61a !important;*/
    background-image: linear-gradient(to right, #5d5ad0, #faa61a);
    border: none;
    border-radius: 0;
    margin-bottom: 0px; /* 40px */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

a.navbar-brand {
    margin: 0px 0px 0px 10px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

#content {
    /*margin: 0px 10px 0px 10px;*/
    /*width: 100%;*/
    padding: 10px 40px;
    /*background-color: #ffffff;*/
    background-color: #f2f8f9;
    height: 100vh; 
    width: 88%; 
    margin-left: auto;    
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;    
}
@media (max-width: 768px) {
    #content {
        padding: 10px 10px;
        width: 100%; 
    }
}

@media (min-width: 768px) {
    #sidebar1 {
        height: 90vh; 
        position: fixed;
        z-index: 9 !important;
        box-shadow: 4px 5px 6px rgba(101, 95, 95, 0.55);
    }
}

.no-padding {
    padding: 0px;
    height: 100%;
    margin: 0;
}

.wrapper1 {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    margin: 0;
    background-color: #f2f8f9;
    /*margin: 20px 10px 20px 10px;*/
}

.right-floated {
    /*width: 50%;
    float: right;*/
    color: #ffffff;
    /*background-color: #faa61a;*/
    padding: 0px 10px;
}

.sticky {
    position: sticky;
    top: 0px;
    z-index: 9 !important;
    box-shadow: 4px 5px 6px rgba(101, 95, 95, 0.55);
}

.header-menu {
    border: 0px;
}

.company-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    font-weight: 100;
    margin: 0px;
}

@media (max-width: 768px) {
    .header-menu {
        border: 1px inset #888888;    
    }

    .right-floated {
        border-bottom: 1px outset #888;
    }

    .company-title {
        font-size: 1.4rem;
    }    
}

.btn-collapsor {
    padding: 0px;
    font-size: 1.2rem;
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 6px;
    font-weight: 300;
    margin-left: 1rem;
    vertical-align: bottom;
    color: #fff;
    background-color: #ffffff00;
    border-color: #ffffff00;
    top: 10px;
    box-shadow: none;    
}
.btn-collapsor i {
    font-size: 1.7rem;
}

@media (max-width: 991px) {
    .show {
        display: block !important;
        width: 100%;
    }
    .show div {
        color: #000000;
    }
    .show div a {
        color: #000000;
    }
    .btn-collapsor {
        top: 5px;
    }
    .btn-collapsor i {
        font-size: 1.4rem;
    }
    a.navbar-brand {
        margin: 0px;
    }    
}
