/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    background: #ffffff;
    background: -webkit-linear-gradient(#ffffff, #293f50);
    background:    -moz-linear-gradient(#ffffff, #293f50);
    background:         linear-gradient(#ffffff, #293f50);
}

a:hover {
    text-decoration: none !important;
}

.actionicon {
    /*box-shadow: 1px 1px 3px 1px #888888 !important;*/
}

.actionicon-gr {
    color: #3aa11a !important;
}
.actionicon-bl {
    color: #0000ff !important;
}

.actionicon-rd {
    color: #ff0000 !important;
}

.row-bold {
    font-weight: 800;
}
.row-invite {
    color: #0000ff;
    background-color: #aaed95 !important;
}