.headbar {
    border-radius: 4px;
    margin: 5px -10px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: #cdd3f5;
    /*position: -webkit-sticky;
    position: sticky;
    top: 65px;*/
}

.feature-title {
    color: #cc5b08;
    font-family: "Segoe UI", "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.btn-info:focus {
    box-shadow: none;
}

@media (max-width: 768px) {
    .feature-title {
        color: #cc5b08;
        font-family: "Segoe UI", "Poppins", sans-serif;
        font-size: 1.3rem;
        font-weight: 100;
    }

    .btn-info {
        font-size: 1rem;
        font-weight: 100;
        color: #0471e6;
        background-color: #ffffff00;
        border-color: #ffffff00;
    }
    .btn-info span {
        display: none;
    }
}
