.headbar {
    border-radius: 4px;
    margin: 5px -10px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: #cdd3f5;
    /*position: -webkit-sticky;
    position: sticky;
    top: 65px;*/
}

.feature-title {
    color: #cc5b08;
    font-family: "Segoe UI", "Poppins", sans-serif;
    font-size: 3rem;
    font-weight: 300;
}