.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.toolbar-wrapper {
    margin: 25px 5px 1px 5px; height:35px;
}

.grid-default {
    width: 100%; height: 400px; margin: 0px 5px 20px 5px;
}